@model List<PersonModel>

<h2>Książka adresowa</h2>

@Html.ActionLink("Dodaj wpis", "Create", "Person", null, new { @class = "btn btn-primary" })

<div class="row">
	<div class="col-md-4">
		<form asp-action="Index" method="get">
			<div class="form-group">
				<label class="control-label">Wyszukaj nazwisko</label>
				<input type="text" name="filterLastName" class="form-control" value="@ViewBag.FilterLastName"/>
				<input type="hidden" name="page" value="1" />
			</div>
			<div class="form-group">
				<input type="submit" value="Wyszukaj" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<table class="table table-stripped">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(m => m.FirstOrDefault().Id)</th>
			<th>@Html.DisplayNameFor(m => m.FirstOrDefault().FirstName)</th>
			<th>@Html.DisplayNameFor(m => m.FirstOrDefault().LastName)</th>
			<th>@Html.DisplayNameFor(m => m.FirstOrDefault().Phone)</th>
			<th>@Html.DisplayNameFor(m => m.FirstOrDefault().Email)</th>
			<th>@Html.DisplayNameFor(m => m.FirstOrDefault().Created)</th>
			<th>@Html.DisplayNameFor(m => m.FirstOrDefault().Updated)</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(m => item.Id)</td>
				<td>@Html.DisplayFor(m => item.FirstName)</td>
				<td>@Html.DisplayFor(m => item.LastName)</td>
				<td>@Html.DisplayFor(m => item.Phone)</td>
				<td>@Html.DisplayFor(m => item.Email)</td>
				<td>@Html.DisplayFor(m => item.Created)</td>
				<td>@Html.DisplayFor(m => item.Updated)</td>
				<td>
					@Html.ActionLink("Edytuj", "Edit", "Person", new { id = item.Id }) |
					@Html.ActionLink("Usuń", "Delete", "Person", new { id = item.Id })
				</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="8" class="text-center">
				<div class="btn-group" role="group" aria-label="Strony">
					@for (var i = 1; i <= ViewBag.Pages; i++)
					{
						<a href="?page=@i"
						   class="btn @(i == (int) ViewBag.Page ? "btn-primary" : "btn-default") ">
							@i
						</a>
					}
				</div>
			</td>
		</tr>
	</tfoot>
</table>